.search-container {
    width: 100%;
    margin-top: 1.8em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

input {
    background: rgba(255, 255, 255, 0.959);
    font-size: xx-large;
    border-radius: 25px 5px;
    padding: 5px 15px;
    border: none;
}
