.search-container {
    width: 100%;
    margin-top: 1.8em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

input {
    font-size: xx-large;
    border-radius: 0.5em;
    padding-left: 10px;
}

button {
    font-size: x-large;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
}

button:hover {
    box-shadow: 3px 5px #eede00;
}