@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.app-container {
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(65%);
}